/*********************************************** CSS ******************************************/

/* S L I D E R */
.carousel{
  position: absolute;
}

.carousel-inner .item img{
	width:100vw;
}

/* H E A D E R */
.navbar-header img{
	padding-top: .5em;
}

/* 	B U S C A D O R */

.single-welcome-hero-form{
	padding: 0 0 0 30px;
}
.single-welcome-hero-form form{
	width:100%;
}

.welcome-hero-btn{
	background:#131212;
}

/* CATEGORIAS DEPORTES ICONOS */

.fas{
	font-size:35px;
}

/* COMO FUNCIONA ICONOS */

.fa {
	font-size:35px;
	vertical-align: middle;
}

.single-how-works:hover .single-how-works-icon [class^="fa-"]:before, .single-how-works:hover .single-how-works-icon [class*=" fa-"]:before, .single-how-works:hover .single-how-works-icon [class^="fa-"]:after, .single-how-works:hover .single-how-works-icon [class*=" fa-"]:after {
    color: #ff545a;
}







