/*********************************************** CSS ******************************************/

/* S L I D E R */
.carousel{
  position: absolute;
}

.carousel-inner .item img{
	width:100vw;
}

/* H E A D E R */
.navbar-header img{
	padding-top: .5em;
}
.navbar-default .navbar-nav>.active>a{
	background:none!important;
}

/* 	B U S C A D O R */

.single-welcome-hero-form{
	padding: 0 0 0 30px;
}
.single-welcome-hero-form form{
	width:100%;
}

#list-topics .container{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.welcome-hero-btn{
	background:#131212;
}

/* CATEGORIAS DEPORTES ICONOS */

.fas{
  font-size:35px;
}

/* COMO FUNCIONA ICONOS */

.fa {
	font-size:35px;
	vertical-align: middle;
}

.single-how-works:hover .single-how-works-icon [class^="fa-"]:before, .single-how-works:hover .single-how-works-icon [class*=" fa-"]:before, .single-how-works:hover .single-how-works-icon [class^="fa-"]:after, .single-how-works:hover .single-how-works-icon [class*=" fa-"]:after {
    color: #ff545a;
}

/*************** H O M E *************/


/* #slides_control > div{
  height: 200px;
}
#home img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
} */



