/*********************************************** CSS ******************************************/


body{
	background:#eee;
}

/* S L I D E R */
.carousel{
  position: absolute;
}

.carousel-inner .item img{
	width:100vw;
}

/* H E A D E R */

.navbar{
	margin-bottom:0!important;
}
.navbar-header img{
	padding-top: .5em;
}
.navbar-default .navbar-nav>.active>a{
	background:none!important;
}

#nombre_usuario{
    color: white;
	background:#ff545a;
}

/* .top-area{
	height:5em;
} */

/* 	B U S C A D O R */

.single-welcome-hero-form{
	padding: 0 0 0 30px;
}
.single-welcome-hero-form form{
	width:100%!important;
}

#list-topics .container{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.welcome-hero-btn{
	background:#131212;
}

/* CATEGORIAS DEPORTES ICONOS */

.fas{
  font-size:35px;
}

/* COMO FUNCIONA ICONOS */

.fa {
	font-size:35px;
	vertical-align: middle;
}

.single-how-works:hover .single-how-works-icon [class^="fa-"]:before, .single-how-works:hover .single-how-works-icon [class*=" fa-"]:before, .single-how-works:hover .single-how-works-icon [class^="fa-"]:after, .single-how-works:hover .single-how-works-icon [class*=" fa-"]:after {
    color: #ff545a;
}


/****************************** HOME ****************************/

#home{
	overflow:hidden;
}

/****************************** CANCHAS ****************************/

.list-topics-content {
    position: static;
    top: 0;
    z-index: 1;
	padding-top:10vw;
}

#works{
	margin-top:5em;
}

.single-how-works{
	background:white;
	    height: 25vw;
}

/****************************** INICIAR - SESION ****************************/

#login>div>div{
	box-shadow:0 0px 5px rgba(71,71,71,.2);

}

#login>div{
	background:#eee!important;
}

/****************************** REGISTRO ****************************/


#registro>div>div{
	box-shadow:0 0px 5px rgba(71,71,71,.2);
}
#registro>div{
	background:#eee!important;
}

/******************************  ****************************/

.modal{
	display:inline-block;
	    background: rgba(0,0,0,0.2);
}

.modal-contenct .col-sm-8 .col-sm-offset-2{
	background:white;
	width: 100%;
}






