      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
	   
/* 
	#works ul li{
		display:inline-block;
		width:50vw;
	} */
	#works h1{
		padding-top:2em;
	}
	.table .table{
		background:none!important;
	}
	ul .login100-form-btn{
		width:20%;
		margin: auto 1em;
	}
	
    #map {
      height: 500px;
	width:73vw;
    }
	
	.horarios ul li label{
		 font-weight:normal;
	 }
	 
	 .horarios ul li{
		 text-align:right;
		 width:32vw;
	 }
	 
	 .horarios ul{
		display:inline-block;
	 }
	 
	 .horarios label{
		display:block;
	 }
	  
	  .wrap-login100{
		/*width:80vw;*/
	  }	
	  select{
		margin-bottom:1em;
	  }
	  
	  #pac-input{
		width:54vw;
		visibility: visible;
		margin-top:.7em;
	  }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
		display:inline-block;
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }