<!-- BUSCAR POR TIPO DE CANCHA -->
		
		<section id="list-topics" class="list-topics">
			<div class="container">
				<div class="list-topics-content">
					<ul>
						<li>
							<div class="single-list-topics-content" ng-click="listar_canchas('Futbol');" style="cursor:pointer">
								<div class="single-list-topics-icon">
									<i class="fas fa-futbol"></i>
								</div>
								<h2><a>FUTBOL</a></h2>
								<p>{{ cantidad_futbol }} canchas</p>
							</div>
						</li>
						<li>
							<div class="single-list-topics-content" ng-click="listar_canchas('Basket');" style="cursor:pointer">
								<div class="single-list-topics-icon">
									<i class="fas fa-basketball-ball"></i>
								</div>
								<h2><a>BASKET</a></h2>
								<p>{{ cantidad_basket }} canchas</p>
							</div>
						</li>
						<li>
							<div class="single-list-topics-content" ng-click="listar_canchas('Hockey');" style="cursor:pointer">
								<div class="single-list-topics-icon">
									<i class="fas fa-hockey-puck"></i>
								</div>
								<h2><a>HOCKEY</a></h2>
								<p>{{ cantidad_hockey }} canchas</p>
							</div>
						</li>
						<li>
							<div class="single-list-topics-content" ng-click="listar_canchas('Tenis');" style="cursor:pointer">
								<div class="single-list-topics-icon">
									<i class="fas fa-table-tennis"></i>
								</div>
								<h2><a>TENIS</a></h2>
								<p>{{ cantidad_tenis }} canchas</p>
							</div>
						</li>
						<li>
							<div class="single-list-topics-content" ng-click="listar_canchas('Rugby');" style="cursor:pointer">
								<div class="single-list-topics-icon">
									<i class="fas fa-football-ball"></i>
								</div>
								<h2><a>RUGBY</a></h2>
								<p>{{ cantidad_rugby }} canchas</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- listado detallado de canchas -->
		</section>
		
		<section id="explore" class="explore" ng-show="mostrar==true">
			<div class="container">
				<div class="section-header">
					<h2>{{ titulo }}</h2>
				</div>
				<div class="explore-content">
					<div class="row">
						<div class=" col-md-4 col-sm-6" ng-repeat="una_cancha in canchas">
							<div class="single-explore-item">
								<a href="#!/verCancha/{{ una_cancha.ID_CANCHA }}">
									<div class="single-explore-img">
										<img ng-src="{{una_cancha.FOTO}}" alt="explore image"  style="max-height: 200px;">
										<div class="single-explore-img-info">
											<button>Ver</button>
										</div>
									</div>
								</a>
								<div class="single-explore-txt bg-theme-1">
									<h2><a>{{ una_cancha.NOMBRE_CANCHA }}</a></h2>
									<p class="explore-rating-price">

										<span class="explore-rating">{{ una_cancha.PUNTAJE }}</span>Puntaje
										<span class="explore-price-box">
																Precio
																<span class="explore-price">${{ una_cancha.PRECIO }}</span>
															</span>
										<a>{{ una_cancha.DIRECCION }}</a>
									</p>
									<div class="explore-open-close-part">
										<div class="row">
											<div class="col-sm-5">
												<a style="font-weight: unset;font-size: 12px;color:#f63138;" href="#!/verCancha/{{ una_cancha.ID_CANCHA }}">
													Reservar</a>
											</div>
											<div class="col-sm-7">
												<div class="explore-map-icon">
													<a href="#"><i data-feather="map-pin"></i></a>
													<a href="#"><i data-feather="upload"></i></a>
													<a href="#"><i data-feather="heart"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

		</section><!--/.explore-->
