
<!-- VISTA HOME. BUSCADOR DE CANCHAS -->

		<section id="home" class="welcome-hero">
		<div id="page">
			<ul class="cb-slideshow">
				<li><span>Image 01</span><div><h3>re·lax·a·tion</h3></div></li>
				<li><span>Image 02</span><div><h3>qui·e·tude</h3></div></li>
				<li><span>Image 03</span><div><h3>bal·ance</h3></div></li>
				<li><span>Image 04</span><div><h3>e·qua·nim·i·ty</h3></div></li>
				<li><span>Image 05</span><div><h3>com·po·sure</h3></div></li>
				<li><span>Image 06</span><div><h3>se·ren·i·ty</h3></div></li>
			</ul>
			<div class="container">
			</div>
        </div>
			<div class="container">
				<div class="welcome-hero-txt">
					<h2>El mejor lugar para buscar <br> la cancha que necesitas </h2>
					<!--<p>Encontrála y reservá solo con un click</p>-->
				</div>
				
				<!--BUSCADOR -->

				<div class="welcome-hero-serch-box">
					<div class="welcome-hero-form">
						<div class="single-welcome-hero-form">
							<h3>Barrio</h3>
							<select class='selectpicker' name='grupo' ng-model='cancha.BARRIO' ng-init="cancha.BARRIO='Belgrano'" style="padding-left: 2em;">
								<option ng-repeat="barrio in barrios track by $index "  value='{{ barrio.TITULO }}'>{{ barrio.TITULO }}</option>
							</select>
						</div>
						<div class="single-welcome-hero-form" style="border-right: 1px solid #edeff1;">
							<h3>Tipo</h3>
							<!-- TIPO_CANCHA -->
							<select class='selectpicker' name='grupo' ng-model='cancha.TIPO_CANCHA' ng-init="cancha.TIPO_CANCHA='Futbol'" style="padding-left: 2em;">
								<option ng-repeat="tipo in tipo_cancha track by $index "  value='{{ tipo.TITULO }}'>{{ tipo.TITULO }}</option>
							</select>


						</div>
						<div class="single-welcome-hero-form">
							<h3>Día</h3>
							<select class='selectpicker' name='grupo' ng-model='cancha.DIA' ng-init="cancha.DIA='Lunes'" style="padding-left: 2em;">
								<option ng-repeat="dia in dias track by $index "  value='{{ dia.DIA }}'>{{ dia.DIA }}</option>
							</select>
							<h3>Horario</h3>
							<select class='selectpicker' name='grupo' ng-model='cancha.HORARIO' ng-init="cancha.HORARIO='2:00pm a 3:00pm'" style="padding-left: 2em;">
								<option ng-repeat="un_horario in listado_horarios track by $index "  value='{{ un_horario.hora }}'>{{ un_horario.hora }}</option>
							</select>
						</div>
					</div>
					<div class="welcome-hero-serch">
						<button class="welcome-hero-btn" ng-click="buscar_cancha(cancha)">
							search  <i data-feather="search"></i>
						</button>
					</div>
				</div>

			</div>

		</section>
		
		
		
		
