<!-- P E R F I L -->

	<!-- Estilos propios de la vista -->
 	<style> @import url("css/forms/util.css"); </style> 
 	<style> @import url("css/forms/main.css"); </style> 
 	<style> @import url("css/forms/registro.css"); </style> 
 	<style> @import url("css/mapa.css"); </style> 
	
		<section id="works" class="works">
			<div class="container">
			
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
					<span class="login100-form-title p-b-55">
						{{ titulo_formulario }}
					</span>
					<span class="login100-form-title p-b-55">
						HORARIOS
					</span>
				<div class="container_horarios" id="horarios_de_cancha" style="margin-bottom: 15em;">
					<div id="select" ng-model="cancha_editar.HORARIOS" ></div>
				</div>
		<form ng-show="titulo_formulario==='Crear cancha'" id="crear" ng-submit="crear_cancha(cancha)" class="login100-form validate-form" class="md-form" id="crear_cancha">

					
					<div class="selects">
						<!-- TIPO_CANCHA -->
						<label>Tipo de cancha</label>
						<select class='selectpicker' name='grupo' ng-model='cancha.TIPO_CANCHA' ng-init="cancha.TIPO_CANCHA='Futbol'">
							<option ng-repeat="tipo in tipo_cancha track by $index "  value='{{ tipo.TITULO }}'>{{ tipo.TITULO }}</option>
						</select>
					</div>
					<div class="selects">
						<!-- BARRIO -->
						<label>Barrio</label>
						<select class='select' name='grupo' ng-model='cancha.BARRIO' ng-init="cancha.BARRIO='Belgrano'" style="padding-left: 2em;">
							<option ng-repeat="barrio in barrios track by $index "  value='{{ barrio.TITULO }}'>{{ barrio.TITULO }}</option>
						</select>
					</div>

					<!-- DIRECCION -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid name is required">
					 <input class="input100"  type="text" class="form-control validate" name="direccion"  placeholder="direccion" required ng-model="cancha.DIRECCION">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
						</span>
					</div>

					<!-- NOMBRE_CANCHA -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid name is required">
					 <input class="input100"  type="text" id="defaultForm-nombre" class="form-control validate" name="nombre"  placeholder="nombre" required ng-model="cancha.NOMBRE">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
						</span>
					</div>
					
					<!-- PRECIO -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid number is required">
					 <input class="input100"  type="number" id="defaultForm-precio" class="form-control validate" name="precio" placeholder="Precio" required ng-model="cancha.PRECIO">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
						</span>
					</div>

					<!-- FOTO -->
					 <div class="wrap-input100 validate-input m-b-16" ng-show="titulo_formulario!='Editar cancha'">
						<input type="file" class='upload-file cancha-file ' ngf-select ng-model="cancha.FOTO" name="file" ngf-max-size='2MB' ngf-fix-orientation="false" ngf-pattern="'image/*'" ngf-accept="'.jpg,.jpeg,.png'" id="foto">
					</div> 
				    <!--
					<span class="login100-form-title p-b-55">
						HORARIOS 
					</span>
					<div class="container_horarios" id="horarios_de_cancha" style="margin-bottom: 15em;">
						<div id="select" ng-model="cancha.HORARIOS" ></div>
					</div>-->

					<div class="container-login100-form-btn p-t-25">
						<button class="login100-form-btn">
							{{ titulo_formulario }}
						</button>
					</div>
		</form>
				<form id="editar" ng-show="titulo_formulario==='Editar cancha'" ng-submit="editar_esta_cancha(cancha_editar)" class="login100-form validate-form" class="md-form" id="crear_cancha">

					<div class="selects">
						<!-- TIPO_CANCHA -->
						<label>Tipo de cancha</label>
						<select class='selectpicker' name='grupo' ng-model='cancha_editar.TIPO_CANCHA' ng-init="cancha_editar.TIPO_CANCHA='Futbol'">
							<option ng-repeat="tipo in tipo_cancha track by $index "  value='{{ tipo.TITULO }}'>{{ tipo.TITULO }}</option>
						</select>
					</div>
					<div class="selects">
						<!-- BARRIO -->
						<label>Barrio</label>
						<select class='select' name='grupo' ng-model='cancha_editar.BARRIO' ng-init="cancha_editar.BARRIO='Belgrano'" style="padding-left: 2em;">
							<option ng-repeat="barrio in barrios track by $index "  value='{{ barrio.TITULO }}'>{{ barrio.TITULO }}</option>
						</select>
					</div>

					<!-- DIRECCION -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid name is required">
						<input class="input100"  type="text" class="form-control validate" name="direccion"  placeholder="direccion" required ng-model="cancha_editar.DIRECCION">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
						</span>
					</div>

					<!-- NOMBRE_CANCHA -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid name is required">
						<input class="input100"  type="text" id="defaultForm-nombre" class="form-control validate" name="nombre"  placeholder="nombre" required ng-model="cancha_editar.NOMBRE">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
						</span>
					</div>

					<!-- PRECIO -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid number is required">
						<input class="input100"  type="number" id="defaultForm-precio" class="form-control validate" name="precio" placeholder="Precio" required ng-model="cancha_editar.PRECIO">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
						</span>
					</div>

					<div class="container-login100-form-btn p-t-25">
						<button class="login100-form-btn">
							{{ titulo_formulario }}
						</button>
					</div>
				</form>
			</div>
			
				<div class="section-header">
					<h1>Mis canchas</h1>
				</div>
				<div class="works-content"> 
					<ul ng-repeat="x in mis_canchas" class="table" ng-show="x.BORRADO=='No'">
					
						<li>
							<img ng-src=" {{ x.FOTO }} " alt="foto cancha" style="max-width: 600px;"/>
						 </li>
						 <li>
						<table  class="table">
						<tr>
							<td scope="col">Nombre:</td><td>{{ x.NOMBRE_CANCHA }}</td>
						 </tr>
						 <tr>
							<td scope="col">Tipo de cancha:</td><td>{{ x.TIPO_CANCHA }}</td>
							 </tr>
						 <tr>
							<td scope="col">Barrio:</td><td>{{ x.BARRIO }}</td>
							 </tr>
						 <tr>
						 <tr>
							<td scope="col">Dirección:</td><td>{{ x.DIRECCION }}</td>
							 </tr>

							<td scope="col">Puntaje:</td><td>{{ x.PUNTAJE }} de 5</td>
							 </tr>
						 <tr>
							<td scope="col">Precio por hora:</td><td>${{ x.PRECIO }}</td>
							 </tr>
						 <tr>
					</table> 
						</li>
						<li>
							<div class="container-login100-form-btn p-t-25">
								<button class="login100-form-btn" ng-click="listar_horarios( x.ID_CANCHA )">
									Horarios
								</button>
								
								<button class="login100-form-btn" ng-click="editar_cancha( x )">
									Editar
								</button>
								
								<button class="login100-form-btn" ng-click="eliminar_cancha( x.ID_CANCHA )">
									Eliminar
								</button>
							</div>
						</li>
					</ul>
				</div>
	</div>
</section>
		
		
