<!-- P E R F I L -->

	<!-- Estilos propios de la vista -->
 	<style> @import url("css/forms/util.css"); </style> 
 	<style> @import url("css/forms/main.css"); </style> 
 	<style> @import url("css/forms/registro.css"); </style> 
 	<style> @import url("css/mapa.css"); </style> 
	
		<section id="works" class="works">
			<div class="container">
				<div class="section-header">
					<h1>Mis canchas</h1>
				</div>
				<div class="works-content"> 
<!-- 					<table>
					  <tr ng-repeat="x in canchas">
						<td>{{ x.NOMBRE_CANCHA }}</td>
						<td>{{ x.FOTO }}</td>
						<td>{{ x.TIPO_CANCHA }}</td>
						<td>{{ x.DIRECCION }}</td>
						<td>{{ x.BORRADO }}</td>
						<td>{{ x.TARJETA }}</td>
						<td>{{ x.PUNTAJE }}</td>
						<td>{{ x.PRECIO }}</td>
					  </tr>
					</table> -->

				</div>
						
		<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">

		<form ng-submit="crear_cancha(cancha)" class="login100-form validate-form" class="md-form">
					<span class="login100-form-title p-b-55">
						Crear Cancha
					</span>
					
					<div>
						<!-- TIPO_CANCHA -->
						<label>Tipo de cancha</label>
						<select class='select' name='grupo' ng-model='cancha.TIPO_CANCHA' ng-init="cancha.TIPO_CANCHA='Futbol'">
							<option ng-repeat="tipo in tipo_cancha track by $index "  value='{{ tipo.TITULO }}'>{{ tipo.TITULO }}</option>
						</select>
					</div>

					<!-- NOMBRE_CANCHA -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid name is required">
					 <input class="input100"  type="text" id="defaultForm-nombre" class="form-control validate"  placeholder="Nombre" required ng-model="cancha.NOMBRE">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>
					
					<!-- TARJETA -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid number is required">
					 <input class="input100"  type="number" id="defaultForm-tarjeta" class="form-control validate"  placeholder="Numero de Tarjeta" required ng-model="cancha.TARJETA">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>
					
					<!-- TARJETA -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid number is required">
					 <input class="input100"  type="date" id="defaultForm-tarjeta" class="form-control validate"  placeholder="Fecha vencimiento" required ng-model="cancha.FECHA_VENCIMIENTO_TARJETA">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>
					
					<!-- CLAVE -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid number is required">
					 <input class="input100"  type="number" id="defaultForm-clave" class="form-control validate"  placeholder="Clave de Tarjeta" required ng-model="cancha.CLAVE">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>
					
					<!-- PRECIO -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid number is required">
					 <input class="input100"  type="number" id="defaultForm-precio" class="form-control validate"  placeholder="Precio" required ng-model="cancha.PRECIO">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>
					
					<!-- DIRECCION -->
					 <div id="direccion">
						 
					</div> 
					
					<!-- FOTO -->
					 <div class="wrap-input100 validate-input m-b-16">
						<input type="file" class='upload-file cancha-file ' ngf-select ng-model="cancha.FOTO" name="file" ngf-max-size='2MB' ngf-fix-orientation="false" ngf-pattern="'image/*'" ngf-accept="'.jpg,.jpeg,.png'" id="foto">
					</div> 
					
					<div class="container-login100-form-btn p-t-25">
						<button class="login100-form-btn">
							Crear cancha
						</button>
					</div>
					
				    </form>
	</div>
	</div>

		</section>
		
		
