<!-- P E R F I L -->

 	<style> @import url("css/perfil.css"); </style> 

		<section ng-show="!es_admin" id="works" class="works">
			<div class="container">
				<div class="section-header">
				<h2> {{ nombre }}  {{ apellido }}</h2>
				<h1>Perfil</h1>
				</div>
				<div class="works-content">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="single-how-works">
								<div class="single-how-works-icon">
									<i class="fa fa-ticket"></i>
								</div>
								<h2><a href="#!/mis-reservas">Ver mis reservas</a></h2>
							</div>
						</div>
						<div class="col-md-4 col-sm-4" ng-show="es_propietario==true"> <!-- boton que aparece solo a los propietarios -->
							<div class="single-how-works">
								<div class="single-how-works-icon">
									<i class="fa fa-futbol-o"></i>
								</div>
								<h2><a href="#!/mis-canchas">Mis canchas</a></h2>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="single-how-works">
								<div class="single-how-works-icon">
									<i class="fa fa-vcard"></i>
								</div>
								<h2><a href="#!/registro/editar">Editar mis perfil</a></h2>
							</div>
						</div>
					</div>
					
					<button ng-click="eliminar_cuenta();">Eliminar cuenta</button>
				</div>
			</div>
		
</section>


<!-- PANEL ADMINISTRACION -->

<section class="works" ng-show="es_admin">
	<div class="section-header">
		<h2 style="padding-top:2em;"> {{ nombre }}  {{ apellido }}</h2>
		<h1 style="padding-bottom:2em;">Panel de administración</h1>
	</div>

	<!-- statistics strat -->
	<section style="padding: 3em;" class="statistics">
		<div class="container">
			<div class="statistics-counter">
				<div class="col-md-3 col-sm-6">
					<div class="single-ststistics-box">
						<div class="statistics-content">
							<div class="counter"> {{ client }} </div>
						</div><!--/.statistics-content-->
						<h3>Clientes</h3>
					</div><!--/.single-ststistics-box-->
				</div><!--/.col-->
				<div class="col-md-3 col-sm-6">
					<div class="single-ststistics-box">
						<div class="statistics-content">
							<div class="counter">{{ prop }} </div>
						</div><!--/.statistics-content-->
						<h3>Propietarios</h3>
					</div><!--/.single-ststistics-box-->
				</div><!--/.col-->
				<div class="col-md-3 col-sm-6">
					<div class="single-ststistics-box">
						<div class="statistics-content">
							<div class="counter">{{ admin }}</div>
						</div><!--/.statistics-content-->
						<h3>Admins </h3>
					</div><!--/.single-ststistics-box-->
				</div><!--/.col-->
				<div class="col-md-3 col-sm-6">
					<div class="single-ststistics-box">
						<div class="statistics-content">
							<div class="counter">{{usuario_stats.length}}</div>
						</div><!--/.statistics-content-->
						<h3>Usuarios total</h3>
					</div><!--/.single-ststistics-box-->
				</div><!--/.col-->
			</div><!--/.statistics-counter-->
		</div><!--/.container-->

	</section><!--/.counter-->
	<!-- statistics end -->
	<!-- statistics strat -->
	<section style="padding: 3em;"  class="statistics">
		<div class="container">
			<div class="statistics-counter">
				<div class="col-md-2 col-sm-6">
					<div class="single-ststistics-box">
						<div class="statistics-content">
							<div class="counter">{{cantidad_futbol}} </div>
						</div><!--/.statistics-content-->
						<h3>Futbol</h3>
					</div><!--/.single-ststistics-box-->
				</div><!--/.col-->
				<div class="col-md-2 col-sm-6">
					<div class="single-ststistics-box">
						<div class="statistics-content">
							<div class="counter">{{cantidad_basket}} </div>
						</div><!--/.statistics-content-->
						<h3>Basket</h3>
					</div><!--/.single-ststistics-box-->
				</div><!--/.col-->
				<div class="col-md-2 col-sm-6">
					<div class="single-ststistics-box">
						<div class="statistics-content">
							<div class="counter">{{cantidad_hockey}}</div>
						</div><!--/.statistics-content-->
						<h3>Hockey</h3>
					</div><!--/.single-ststistics-box-->
				</div><!--/.col-->
				<div class="col-md-2 col-sm-6">
					<div class="single-ststistics-box">
						<div class="statistics-content">
							<div class="counter">{{cantidad_tenis}}</div>
						</div><!--/.statistics-content-->
						<h3>Tenis</h3>
					</div><!--/.single-ststistics-box-->
				</div><!--/.col-->
				<div class="col-md-2 col-sm-6">
					<div class="single-ststistics-box">
						<div class="statistics-content">
							<div class="counter">{{cantidad_rugby}}</div>
						</div><!--/.statistics-content-->
						<h3>Rugby</h3>
					</div><!--/.single-ststistics-box-->
				</div><!--/.col-->
				<div class="col-md-2 col-sm-6">
					<div class="single-ststistics-box">
						<div class="statistics-content">
							<div class="counter">{{cancha_stats.length}}</div>
						</div><!--/.statistics-content-->
						<h3>Canchas Total</h3>
					</div><!--/.single-ststistics-box-->
				</div><!--/.col-->
			</div><!--/.statistics-counter-->
		</div><!--/.container-->

	</section><!--/.counter-->
	<!-- statistics end -->



	<div class="container">

		<div class="works-content">

			<!--subscription strat -->
			<section id="contact"   class="subscription">
				<div class="container" style="padding-bottom: 5em;" class="col-md-4 col-sm-4">
					<div class="subscribe-title text-center">
						<h2>
							Crear cupon
						</h2>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="subscription-input-group">
								<form ng-submit="crear_cupon(cupon)">
									<input style="margin-bottom:1em" type="name" class="subscription-input-form" ng-model="cupon.NOMBRE_CUPON" placeholder="Nombre">
									<input style="margin-bottom:1em" type="number" class="subscription-input-form" ng-model="cupon.CODIGO" placeholder="Codigo">
									<input style="margin-bottom:1em" type="number" class="subscription-input-form" ng-model="cupon.PORCENTAJE" placeholder="Porcentaje">

									<button class="appsLand-btn subscribe-btn" type="submit">
										Crear
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div>
						<table class="table" ng-show="lista_cupones.length>0" >
							<thead>
							<tr>
								<th scope="col" style="text-align: center;"><b>ID</b></th>
								<th scope="col" style="text-align: center;"><b>NUMERO DE CUPON</b></th>
								<th scope="col" style="text-align: center;"><b>CODIGO</b></th>
								<th scope="col" style="text-align: center;"><b>PORCENTAJE</b></th>
								<th scope="col" style="text-align: center;"><b>ELIMINAR</b></th>
							</tr>
							</thead>

							<tbody>
							<tr ng-repeat="un_cupon in lista_cupones track by $index">
								<td id="{{ un_cupon.ID_CUPON }}"><b>N° {{ un_cupon.ID_CUPON }}</b></td>
								<td>{{ un_cupon.NOMBRE_CUPON }}</td>
								<td>#{{ un_cupon.CODIGO }}</td>
								<td>{{ un_cupon.PORCENTAJE }}%</td>

								<td><button type="button" ng-click="eliminar_cupon(un_cupon.ID_CUPON )" class="btn btn-danger">Eliminar</button></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section><!--/subscription-->
			<!--subscription end -->

			<button style="margin: 2em 10em;font-size: 16px; " ng-click="eliminar_cuenta();">Eliminar cuenta</button>

			<button style="margin: 2em 10em;"> <a href="#!/registro/editar" style="font-size: 16px; font-weight: unset;"> Editar mis perfil </a></button>


		</div>
	</div>


</section>



