<!-- R E G I S T R O -->
	
	<!-- Estilos propios de la vista -->
 	<style> @import url("css/forms/util.css"); </style> 
 	<style> @import url("css/forms/main.css"); </style> 
	
	<!-- vista html -->
<div class="limiter" id="registro">
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<form ng-submit="submit(usuario)" class="login100-form validate-form" class="md-form">
					<span class="login100-form-title p-b-55">
						Registro
					</span>

					<!-- NOMBRE -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
					 <input class="input100"  type="text" id="defaultForm-nombre" class="form-control validate"  placeholder="Nombre" required ng-model="usuario.NOMBRE">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>

					<!-- APELLIDO -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
					 <input class="input100"  type="text" id="defaultForm-apellido" class="form-control validate"  placeholder="Apellido" required ng-model="usuario.APELLIDO">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>
					
					<!-- EMAIL -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100"  type="email" id="defaultForm-email" class="form-control validate"  placeholder="Email" required ng-model="usuario.EMAIL">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>

					<!-- CLAVE -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Clave" required ng-model="usuario.CLAVE">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>
					
					<!-- FOTO -->
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						<input type="file" class='upload-file usuario-file ' ngf-select ng-model="picFile" name="file" ngf-max-size='2MB' ngf-fix-orientation="false" ngf-accept="'image/*'" id="foto">

						<span class="focus-input100"></span>
						<span class="symbol-input100">
 							<span class="lnr lnr-lock"></span>
						</span>
					</div> 
				
				
				
				
				
				
				
					<div class="container-login100-form-btn p-t-25">
						<button class="login100-form-btn">
							Registrarme
						</button>
					</div>

					<div class="text-center w-full p-t-115">
						<span class="txt1">
							Ya tenes una cuenta?
						</span>

						<a class="txt1 bo1 hov1" href="#!/iniciar-sesion">
							Iniciar sesión						
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

























