<!--explore start -->
<section>
    <div style="min-height: 80vh;">
        <div class="explore-content" style="margin-left:3em;padding-bottom: 3em;">
            <div class="section-header">
                <h2>{{ una_cancha.NOMBRE_CANCHA }}</h2>
            </div><!--/.section-header-->
            <div class="col-md-8 col-sm-12 ng-scope" style="width: 50vw;text-align: center;display: inline-block;">
                <img ng-src="{{una_cancha.FOTO}}" alt="explore image"  style="max-height: 400px;">
                <div class="single-explore-txt bg-theme-1" style="padding: 0;">
                    <p class="explore-rating-price">
                        <span class="explore-price-box" style="font-size: 12px"><b>Barrio: </b>{{ una_cancha.BARRIO }}</span>
                        <span class="explore-price-box" style="font-size: 12px"><b>Dirección: </b>{{ una_cancha.DIRECCION }}</span>
                        <span class="explore-price-box" style="font-size: 12px"><b>Puntaje: </b>{{ cuenta_puntaje }}</span>
                        <span class="explore-price-box" style="font-size: 12px"><b>Precio: </b> ${{ una_cancha.PRECIO }}</span>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 ng-scope" style="width: 40vw;display: inline-block;    float: unset;">
                <h2 style="margin-bottom: 1em;text-align: center;">Horario semanal</h2>
                <p ng-show="horarios.length == 0" style="text-align: center;padding: 2em;">Aún no hay horarios asignados</p>

                <ul class="list-group" id="lista_con_horarios">
                    <li ng-repeat="un_horario in horarios" class="list-group-item"> {{ un_horario.DIA_VALOR }} {{ un_horario.HORA_VALOR }}
                        <span ng-show="un_horario.ESTADO=='Ocupado'" style="width: auto;float: right;color:#ff545a;">Reservado</span>
                        <input type="radio" style="width: auto;float: right;" ng-show="un_horario.ESTADO=='Desocupado'" class="custom-control-input" id="{{ un_horario.ID_HORARIO}}" name="defaultExampleRadios">
                    </li>
                </ul>

                <div class="welcome-hero-serch" style="text-align: center;" ng-show="horarios.length != 0" >
                    <p style="padding: 2em;">¿Tenes un cupón de descuento?<input type="number"  class="form-control" ng-model="cancha.CUPON" placeholder="N° cupon" name="cupon">
                    </p>

                    <p ng-show="usuario==undefined" style="color:red;">Necesitas estar logueado para reservar una cancha.</p>
                    <p ng-show="usuario.TIPO_USUARIO=='Propietario'" style="color:red;">Tenes que ser CLIENTE para reservar una cancha.</p>
                </div>

                <div class="welcome-hero-serch" style="text-align: center;" ng-show="horarios.length != 0&&usuario.TIPO_USUARIO=='Cliente'" >
                    <button class="welcome-hero-btn" ng-click="reservar_cancha(cancha)" style="display: initial;">
                        Reservar  <i data-feather="search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- CALIFICAR -->
    <div ng-show="nivel=='Cliente'">
        <section class='rating-widget' style="padding-top: 3em; background:#f9f9f9;padding-bottom: 2em;">
            <div class="section-header">
                <h2>Calificar cancha</h2>
            </div>
            <!-- Rating Stars Box -->
            <div class='rating-stars text-center'>
                <ul id='stars'>
                    <li class='star' title='Poor' data-value='1'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Fair' data-value='2'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Good' data-value='3'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Excellent' data-value='4'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='WOW!!!' data-value='5'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                </ul>
            </div>

            <div class='success-box'>
                <div class='clearfix'></div>
                <div class='text-message' style="text-align: center; width: 100vw;"></div>
                <div class='clearfix'></div>
            </div>

            <textarea class="form-control" ng-model="calificacion.COMENTARIO" rows="8" style="width: 90vw; margin-left: 5vw; padding: 2em;"></textarea>
            <div class="welcome-hero-serch" style="text-align: center; margin: 2em;">
                <button class="welcome-hero-btn" ng-click="calificar_cancha(calificacion)" style="display: initial;">
                    Calificar  <i data-feather="search"></i>
                </button>
            </div>
        </section>

    </div>
    <!--- COMENTARIOS --->


    <hr>
    <section>

    <div class="reviews-content">
        <div class="section-header">
            <h2>Reseñas</h2>
            <p ng-show="calificaciones.length == 0" style="padding-bottom: 5em;">Aún no hay calificaciónes</p>
        </div>

        <div class="testimonial-carousel" style="margin: 4em auto;">
            <div class="single-testimonial-box" style="margin-left: 4em; display: inline-block;" ng-repeat="una_calificacion in calificaciones">
                <div class="testimonial-description">
                    <div class="testimonial-info">
                        <div class="testimonial-person">
                            <h2 style="float:left;">{{ una_calificacion.NOMBRE_USUARIO }}</h2>
                            <div class="single-explore-txt bg-theme-1" style="float: right;padding:0;padding-left:2em;">
                                <p class="explore-rating-price" style="margin:0;padding:0; float:right;">
                                    <span class="explore-rating" >{{ una_calificacion.PUNTUACION }}</span>Puntaje
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-comment">
                        <p  style="padding-left: 1em;">{{ una_calificacion.COMENTARIO }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </section>
</section>
