

.upload-file{
	text-indent: 300px;
	overflow: hidden;
	background:no-repeat center #298445 url("../../img/icons/clip.png");
	height: 50px;
    border-radius: 50%;
    width: 50px;
	float:right;
	margin-top:2em;
}